<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    

    <div id="app">
        <div class="container d_flex">
            <aside class="aside_contacts d_flex direction_column">
                <div class="user_contact p_05 d_flex justify_content_space_between">
                    <div class="user_info d_flex align_items_center column_gap_04">
                        <img class="users_img" src="./assets/img/avatar_4.jpg" alt="">
                        <p>Roberto</p>
                    </div>
                    <!-- /.user_info -->
                    <div class="user_icons d_flex align_items_center column_gap_08">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    <!-- /.user_icons -->
                </div>
                <!-- /.user_contact -->
                <div class="enable_notifications d_flex align_items_center column_gap_04">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="text_notifications fs_08">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                    <!-- /.text_notifications -->
                </div>
                <!-- /.enable_notifications -->
                <div class="find_contacts fs_08 d_flex column_gap_04 align_items_center">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="finder" @keyup="findContact">
                </div>
                <!-- /.find_contacts -->
                <div class="contacts d_flex direction_column">
                    <div class="contact d_flex justify_content_space_between fs_08" v-for="(contact, index) in contacts" @click="activeMyChat(index)" :class="contact.visible ? '' : 'd_none'" :class="index == activeChat ? 'bg_active' : '' ">
                        <div class="contatcs_info d_flex column_gap_04">
                            <img class="users_img" :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
                            <div class="text_contatc">
                                <h4>{{contact.name}}</h4>
                                <span>{{ showLastMessage(index) }}</span>
                            </div>
                            <!-- /.text_contatc -->
                        </div>
                        <!-- /.contatcs_info -->
                        <span>{{ showLastTimeMessage(index) }}</span>
                    </div>
                    <!-- /.contact -->
                </div>
                <!-- /.contacts -->
            </aside>
            <!-- /.aside_contacts -->
            <main class="main_chat">
                <div class="chat_info">
                    <div class="chat_contact p_05 d_flex justify_content_space_between">
                        <div class="user_info d_flex align_items_center column_gap_04">
                            <img class="users_img" :src="'./assets/img/avatar' + contacts[activeChat].avatar + '.jpg'" alt="">
                            <p>{{contacts[activeChat].name}}</p>
                        </div>
                        <!-- /.user_info -->
                        <div class="d_flex align_items_center column_gap_08">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <!-- /.user_icons -->
                    </div>
                    <!-- /.user_contact -->
                </div>
                <!-- /.chat_info -->
                <div class="chat_messages d_flex direction_column p_1">         
                    <div v-for="text in contacts[activeChat].messages" :class="text.status === 'sent' ? 'message_sent' : 'message_received'">
                        <span>{{text.message}}</span>                
                    </div>
                    <!-- /.message sent-received  -->
                </div>
                <!-- /.chat_space -->
                <div class="chat_inputs d_flex align_items_center justify_content_space_between">
                    <i class="fa-solid fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage">
                    <i class="fa-solid fa-microphone"></i>
                </div>
                <!-- /.chat_inputs -->
            </main>
            <!-- /.main_chat -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#app -->


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./assets/js/app.js"></script>
</body>
</html>