:root {
    --light_grey_color: #EAEAEA;
    --dark_grey_color: #B1B1B1;
    --light_blue_bg_color: #8EDAFC;
    --light_white_bg_color: #F2FBFF;
    --darker_grey_color: #6B7376;


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #009688 0%, #009688 130px, #DBDBD2 130px, #DBDBD2 100%);
}

img {
    max-width: 100%;
}

/* #region UTILITY  */

.bg_active {
    background-color: #E9EBEB!important;
}

.d_none {
    display: none!important;
}

.d_flex {
    display: flex;
}

.direction_column {
    flex-direction: column;
}

.justify_content_space_between {
    justify-content: space-between;
}

.align_items_center {
    align-items: center;
}

.column_gap_04 {
    column-gap: 0.4rem;
}

.column_gap_08 {
    column-gap: 0.8rem;
}

.p_05 {
    padding: 0.5rem;
}

.p_1 {
    padding: 1rem;
}

.fs_08 {
    font-size: 0.8rem;
}

/* #endregion UTILITY  */

/* #region COMMON  */

.container {
    height: 90vh;
    margin: 5vh auto;
    width: 80vw;
    max-width: 1200px;
    box-shadow: 0px 0px 10px 0px;
}

.container>aside, .container>main {
    height: 100%;
}

.container>aside {
    width: 35%;
    border-right: 2px solid #e4e3e3;
}

.container>main {
    width: 65%;
}

i {
    cursor: pointer;
}

.users_img {
    max-width: 40px;
    border-radius: 50%;
    max-height: 40px;
}

input {border:0;outline:0;}
input:focus {outline:none!important;}

/* #endregion COMMON  */


/* #region ASIDE  */

aside {
    background-color: white;
}

.aside_contacts>div {
    width: 100%;
}

.user_contact, .chat_contact {
    background-color: var(--light_grey_color);
}

.user_contact i, .chat_contact i {
    color: var(--dark_grey_color);
}

.enable_notifications i {
    padding: 0.8rem 0.7rem;
    background-color: var(--light_white_bg_color);
    border-radius: 50%;
    color: var(--light_blue_bg_color);
}

.enable_notifications {
    background-color: var(--light_blue_bg_color);
    padding: 0.5rem 1rem;
}

.text_notifications>a {
    color: rgb(91, 91, 91);
    font-size: 11px;
}

.find_contacts {
    border: 4px solid #fafafa;
    padding: 3px;
}

.find_contacts i {
    margin: 0 1rem;
    color: var(--dark_grey_color);
}

.find_contacts input {
    width: 100%;
}

.small_finder_input {
    display: none;
}

.contacts {
    overflow-y: auto;
}

.contact {
    padding: 0.5rem 1rem;
    border-top: 2px solid #f9f9f9;
    cursor: pointer;
}

.contact:hover {
    background-color: whitesmoke;
}

.contact span {
    color: var(--dark_grey_color);
}

.white_space {
    width: 100%;
    height: 43.78px;
}

/* #endregion ASIDE  */

/* #region MAIN  */

.chat_messages {
    height: calc(100% - 43.78px - 56px);
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
}

.chat_inputs {
    padding: 0.4rem 1rem;
    background-color: #F3EEEA;
}

.chat_inputs i {
    color: var(--darker_grey_color);
}

.chat_inputs input {
    width: 80%;
    
    border-radius: 3px;
    padding: 0.5rem;
}

.message_sent {
    background-color: #D5F9BA;
    align-self: flex-end;
    padding: 0.5rem 0.2rem 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

.message_received {
    background-color: #ffff;
    align-self:flex-start;
    padding: 0.5rem 0.2rem 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

.text_message>i {
    padding-left: 4rem;
    color: var(--darker_grey_color);
}


.users_info_text>.last_access {
    color: var(--darker_grey_color);
    font-size: 0.7rem;
}

.chat_messages .hours {
    color: var(--dark_grey_color);
    align-self: flex-end;
    font-size: 0.5rem;
}

.single_message {
    position: relative;
}

.banner_cancel {
    position: absolute;
    z-index: 3;
    top: 20px;
    right: 0;
    background-color: var(--light_grey_color);
    border: 2px solid whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.banner_cancel>span {
    cursor: pointer;
    padding: 0.5rem;
    align-self: flex-end;
}

.fa-paper-plane {
    background-color: hsl(214deg 89% 52%);
    padding: 0.5rem;
    border-radius: 50%;
    color: white!important;
    font-size: 14px;
}



/* #endregion MAIN  */


/* #region MEDIAQUERY  */

@media  screen and (max-width: 768px) {
    .contact>span {
        display: none;
    }
}
@media  screen and (max-width: 715px) {
    .user_info>p {
        display: none;
    }
    .last_message_text, .text_notifications {
        display: none;
    }
    .big_finder_input {
        display: none;
    }
    .small_finder_input {
        display: inline-block;
    }
}
@media  screen and (max-width: 485px) {
    
    .user_icons {
        display: none;
    }

    .text_contatc>h4 {
        display: none;
    }

    .text_message {
        padding-right: 0;
    }

    .last_access {
        display: none;
    }

    .chat_inputs {
        padding: 0.4rem 0.3rem;
    }

}

@media  screen and (max-width: 360px) {
    .users_info_text>p {
        display: none;
    }
}

/* #endregion MEDIAQUERY  */